<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Moneda</title>
    <script>
        async function convertir() {
            const monto = document.getElementById("monto").value;
            const moneda1 = document.getElementById("moneda1").value;
            const moneda2 = document.getElementById("moneda2").value;

            const response = await fetch('/convertir', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    monto: parseFloat(monto),
                    moneda1: moneda1,
                    moneda2: moneda2
                })
            });

            const data = await response.json();
            if (data.resultado) {
                document.getElementById("resultado").innerText = data.resultado;
            } else {
                document.getElementById("resultado").innerText = data.error;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Conversor de Moneda</h2>
                        <p>Tasa actual del dólar: {{ tasa_usd_clp }}</p>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" id="monto" class="form-control" placeholder="Ingrese monto" aria-label="Amount (to the nearest dollar)" required>
                        </div>
                        <div class="mb-3 d-flex justify-content-between">
                            <select id="moneda1" class="form-select" aria-label="Default select example">
                                <option selected></option>
                                <option value="usd">USD - Dólar Estadounidense</option>
                                <option value="clp">CLP - Peso Chileno</option>
                            </select>
                            <span class="px-2 align-self-center">a</span>
                            <select id="moneda2" class="form-select" aria-label="Default select example">
                                <option selected></option>
                                <option value="clp">CLP - Peso Chileno</option>
                                <option value="usd">USD - Dólar Estadounidense</option>
                            </select>
                        </div>
                        <button onclick="convertir()" type="button" class="btn btn-primary w-100">Convertir</button>
                    </div>
                    <div class="mb-3 text-center">
                        <p id="resultado"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="footer-container bg-dark text-white text-center py-4">
        <div class="custom-container">
            <span>© 2024 Todos los derechos reservados</span>
        </div>
    </div>
</body>
</html>
